<div class="row">
  <div class="col-md-10">
    <form action="">
      <div class="">
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="username"
          placeholder="Search github user..."
          (keyup.enter)="searchUser()"
        />
      </div>
    </form>
  </div>
  <div class="col-md-2">
    <button class="form-control" (click)="searchUser()">Search</button>
  </div>
</div>
<br /><br />
<h1 class="text-center" *ngIf="!user">There's nothing here...</h1>
<div *ngIf="user">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ user.avatar_url }}"
          alt="Imagen de perfil"
          class="img-fluid rounded-start"
        />
      </div>

      <div class="col-lg-8">
        <div class="card-body">
          <h3 class="card-title">{{ user.name }}</h3>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-flex gap-2">
                <span class="badge bg-primary"
                  >{{ user.public_repos }} repos</span
                >
                <span class="badge bg-success"
                  >{{ user.public_gists }} gists</span
                >
                <span class="badge bg-info"
                  >{{ user.followers }} followers</span
                >
                <span class="badge bg-warning"
                  >{{ user.following }} following</span
                >
              </div>
            </li>
            <li class="list-group-item">
              <strong>Username: </strong>{{ user.login }}
            </li>
            <li *ngIf="user.location" class="list-group-item">
              <strong>Location: </strong>{{ user.location }}
            </li>
            <li *ngIf="user.email" class="list-group-item">
              <strong>Email: </strong>{{ user.location }}
            </li>
            <li *ngIf="user.blog" class="list-group-item">
              <strong>Blog: </strong>{{ user.blog }}
            </li>
            <li class="list-group-item">
              <strong>Member Since: </strong>{{ user.created_at | date }}
            </li>
            <li class="list-group-item">
              <a href="{{ user.html_url }}" class="btn btn-outline-info"
                >View {{ user.name }}'s profile</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h4 class="card-title p-2 ms-2">Repositories</h4>
    <ul class="list-group list-group-flush">
      <div *ngFor="let repo of repos">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-9">
              <h5>
                <a
                  href="{{ repo.html_url }}"
                  class="link-underline-opacity-0 link-underline-opacity-50-hover link-secondary ms-3"
                  >{{ repo.name }}</a
                >
              </h5>
              <p *ngIf="repo.description">{{ repo.description }}</p>
            </div>
            <div class="col-md-3">
              <span class="badge bg-primary">{{ repo.watchers }} watchers</span>
              <span class="badge bg-success ms-1">{{ repo.forks }} forks</span>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
